@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
}

.splash {
    height: 100vh;
    background-image: url(./assets/img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0d1313;
    color: white;
    text-shadow: 1px 1px black;
}

.splash p {
    font-size: 2em !important;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}

.splash h1 {
    font-size: 4em;
    text-shadow: 1px 3px black;
}

.navbar {
    background: none !important;
}

a.nav-link{
    font-size: 2em;
}

a.nav-link:hover {
    text-decoration:underline #fdab86 !important;

}

a.nav-link.active {
    text-decoration: underline;
}

#hero {
    margin-top: 200px;
}

button {
    background-color: #0a262d !important;
    color: white !important;
}

button:hover {
    border-color: white;
}